@using Entities.Concrete
@model Entities.Concrete.Disaster

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(function () {


        $('#DrpCity').change(function () {

            var Id = $('#DrpCity').val();

            $.ajax({

                url: '/Home/GetTownsByCityId',

                data: { cityId: Id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpTown').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpTown').append("<option value='" + data[i].value + "'>" + data[i].text + "</Option>");

                    }
                }

            });

        });
        $('#DrpTown').change(function () {

            var Id = $('#DrpTown').val();
            $.ajax({
                url: '/Home/GetDistrictsByTownId',

                data: { townId: Id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpDistrict').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpDistrict').append("<option value='" + data[i].value + "'>" + data[i].text + "</Option>");

                    }
                }
            })
        });
        $('#DrpDistrict').change(function () {

            var Id = $('#DrpDistrict').val();
            $.ajax({
                url: '/Home/GetNeighborhoodsByDistrictId',

                data: { disId: Id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#NeighborhoodId').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#NeighborhoodId').append("<option value='" + data[i].value + "'>" + data[i].text + "</Option>");

                    }
                }
            })
        });
    });

    

</script>


<div class="container" style="background-color: #B8E0F5">

    <div class="row d-flex" style="background-color: #232331 ">
        <div class="col-4">
            <div class="text-light m-3">
                <span class="font-weight-bold " style="font-size:1.4em;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Afet Giriş</span>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row d-flex mt-4">

            <div class="col-md-2 d-flex">
                <span>Seri No</span>
            </div>

            <div class="col-md-2">
                @Html.TextBoxFor(model => model.SerialNumber, "Seri No", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SerialNumber, "Zorunlu Alan", new { @class = "text-danger" })
            </div>

            <div class="col-md-2 align-items-start">
                <span>GLIDE No</span>
            </div>

            <div class="col-md-2 align-items-start">
                @Html.TextBoxFor(model => model.GlideNumber,"Glide No", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GlideNumber, "Zorunlu Alan", new { @class = "text-danger" })
            </div>

        </div>



        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Başlangıç Tarihi</span>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "Zorunlu Alan", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                <span>Bitiş Tarihi</span>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.EndDate, "Zorunlu Alan", new { @class = "text-danger" })*@
            </div>

            <div class="col-md-2">
                <span>Süre(Gün)</span>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.NumberOfDays,"Süre Girin", new { @class = "form-control" })
                
            </div>

        </div>


        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Afet Türü</span>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.TypeId, ViewBag.disasterTypes as SelectList,"Afet Seçin", new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.TypeId, "Zorunlu Alan", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <span>İl</span>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownList("DrpCity", ViewBag.cities, "Şehir Seçin", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <span>İlçe</span>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownList("DrpTown", ViewBag.towns, "İlçe Seçin", new { @class = "form-control" })
                </div>
            </div>

        </div>


        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Semt</span>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownList("DrpDistrict", ViewBag.districts, "Semt Seçin", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <span>Mahalle</span>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.NeighborhoodId, ViewBag.neighborhoods as SelectList,"Mahalle Seçin", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <span>Belde/Mevki</span>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.PlaceDescription, "Belde/Mevki",new { @class = "form-control" })
            </div>

        </div>

        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Neden</span>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Cause, "Neden",new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <span>Enlem</span>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Latitude,"Enlem", new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <span>Boylam</span>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Longitude,"Boylam", new { @class = "form-control" })
            </div>

        </div>


        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Neden Açıklama</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.CauseDescription, new { @class = "form-control" })
            </div>

        </div>

        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Etkilediği Alanlar</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AffectedAreas, new { @class = "form-control" })
            </div>

        </div>

        <div class="row d-flex mt-4">

            <div class="col-md-2">
                <span>Kaynak</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
            </div>

        </div>

        <div class="row d-flex mt-4">
            <div class="col-md-2">
                <span>ResimId</span>
            </div>
            <div class="col-md-8">
                @*<form class="form-group" method="post">
                        <input type="text" placeholder="" name="DisasterImgId" class="form-control" />
                    </form>*@
                @*@Html.TextBoxFor(model => model.DisasterImgId, new { @class = "form-control" })*@
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md">
                <input type="submit" value="Kaydet" class="btn btn-block btn-primary" />
            </div>
        </div>

    }
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <a href="/Home/BirAction" class="btn btn-block btn-primary">Afet Listele</a>
    }


    </div>