
@using Entities.DTOs
@model List<DisasterDto>
@{
    ViewData["Title"] = "Disaster List";
}
<table class="table table-bordered">
    <tr>
        <td>Seri No</td>
        <td>Glide No</td>
        <td>Başlangıç Tarihi</td>
        <td>Bitiş Tarihi</td>
        <td>Süre</td>
        <td>Tür</td>
        <td>İl</td>
        <td>İlçe</td>
        <td>Semt</td>
        <td>Mahalle</td>
        <td>Belde</td>
        <td>Enlem</td>
        <td>Boylam</td>
        <td>Sebep</td>
        <td>Açıklama</td>
        <td>Etkilenen Alanlar</td>
        <td>Kaynak</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SerialNumber</td>
            <td>@item.GlideNumber</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.NumberOfDays</td>
            <td>@item.TypeName</td>
            <td>@item.CityName</td>
            <td>@item.TownName</td>
            <td>@item.DistrictName</td>
            <td>@item.NeighborhoodName</td>
            <td>@item.Latitude</td>
            <td>@item.Longitude</td>
            <td>@item.Cause</td>
            <td>@item.CauseDescription</td>
            <td>@item.AffectedAreas</td>
            <td>@item.Source</td>

        </tr>

    }
</table>
